<template>
    <Page>
        <ActionBar title="Crypto Currency Listing" android:flat="true"/>
        <TabView android:tabBackgroundColor="#53ba82"
                 android:tabTextColor="#c4ffdf"
                 android:selectedTabTextColor="#ffffff"
                 androidSelectedTabHighlightColor="#ffffff">
            <TabViewItem title="Currencies">
                <GridLayout rows="auto, auto,*">
                    <ListView row="2" for="item in currencies">
                        <v-template>
                            <GridLayout columns="auto, *">
                                <Label col="1" :text="item.altname"  />
                            </GridLayout>
                        </v-template>
                    </ListView>
                </GridLayout>
            </TabViewItem>

            <TabViewItem title="Browse">
                <GridLayout columns="*" rows="*">
                    <Label class="message" text="browse all currencies" col="0" row="0"/>
                </GridLayout>
            </TabViewItem>
        </TabView>
    </Page>
</template>

<script >
    import axios from "axios";
    export default {
        data() {
            return {
                msg: 'No currencies listed',
                currencies : []
            }
        },created(){
             axios({ method: "GET", "url": "https://api.kraken.com/0/public/Assets" }).then(result => {
                this.currencies = Object.values(result.data.result);
            }, error => {
                console.error(error);
            });
        },
    };
</script>

<style scoped>
    ActionBar {
        background-color: #53ba82;
        color: #ffffff;
    }

    .message {
        vertical-align: center;
        text-align: center;
        font-size: 20;
        color: #333333;
    }
</style>
